:root {
	--main-color: #83d7ffba;
	--other-color: #EFFFFD;
	--border-color:#3784abcc;
	--text-color: #000000;

	--right-color: #1e9151;
	--wrong-color:#ff6b49;
	--selected-bg-color: #d3f1ffba;
	--selected-border-color: #aaaacc;
}
